*{
    margin: 0;
    padding: 0;
}
.galery{
    display: flex;
    flex-wrap:wrap ; /*ajusta a la pantalla los elementos*/
    gap: 10px; /*Espacios entre imagnes*/
    justify-content: center;
}
.image-css{
    width: 300px;
  
}
.image-css:hover{
    opacity: 0.4;
    cursor: pointer;
}