.flex{
    background-color: burlywood;
    height: 600px;
    justify-content:space-between;
    display: flex;
    
}
.contenido1, .contenido2, .contenido3{
    width: 100px;
    height: 200px;
}
.contenido1{
    background-color: aquamarine;   
}
.contenido2{
    background-color: rgb(76, 153, 127);  
}
.contenido3{
    background-color: rgb(39, 88, 72);   
}